<launch>

    <arg name="robot_namespace" default="robot"/>
    <arg name="rviz" default="true"/>

    <arg name="pointcloud_topic" default="lidar"/>
    <arg name="imu_topic" default="imu"/>

    <node ns="$(arg robot_namespace)" name="liom_odom" pkg="lio_imm" type="liom_odom_node"  output="screen" clear_params="true">

        <rosparam command="load" file="$(find lio_imm)/cfg/liom.yaml" />
        <rosparam command="load" file="$(find lio_imm)/cfg/params.yaml" />
        <!-- Subscriptions -->
        <remap from="~pointcloud" to="$(arg pointcloud_topic)"/>
        <remap from="~imu" to="$(arg imu_topic)"/>

        <!-- Publications -->
        <remap from="~odom"     to="liom/odom_node/odom"/>
        <remap from="~pose"     to="liom/odom_node/pose"/>
        <remap from="~path"     to="liom/odom_node/path"/>
        <remap from="~kf_pose"  to="liom/odom_node/keyframes"/>
        <remap from="~kf_cloud" to="liom/odom_node/pointcloud/keyframe"/>
        <remap from="~deskewed" to="liom/odom_node/pointcloud/deskewed"/>
    </node>

    <node ns="$(arg robot_namespace)" name="liom_map" pkg="lio_imm" type="liom_map_node"  output="screen" clear_params="true" >
        
        <rosparam command="load" file="$(find lio_imm)/cfg/liom.yaml" />
        <rosparam command="load" file="$(find lio_imm)/cfg/params.yaml" />

        <!-- Subscriptions -->
        <remap from="~keyframes" to="liom/odom_node/pointcloud/keyframe"/>

        <!-- Publications -->
        <remap from="~map" to="liom/map_node/map"/>
    </node>

     <node pkg="rviz" type="rviz" name="liom_rviz" args="-d $(find lio_imm)/launch/lio_imm.rviz" if="$(arg rviz)" />
</launch>